# Use postgres/example user/password credentials
version: '3.1'

services:

    db:
        image: postgres
        restart: always
        environment:
            POSTGRES_USER: sks
            POSTGRES_PASSWORD: sks
            POSTGRES_DB: sks
        ports:
            - 5432:5432

    adminer:
        image: adminer
        restart: always
        ports:
            - 8080:8080
