<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="description" content="GMU Keyserver">
    <meta name="author" content="Kunal Sarkhel">

    <!-- Chrome on Android navbar color -->
    <meta name="theme-color" content="#006633">
    <title>{% block title %}{% endblock title %}</title>

    <!-- Load stylesheets -->
    <link href="https://srct.gmu.io/masonstrap/css/masonstrap.min.css" rel="stylesheet">
    <script src="https://srct.gmu.io/masonstrap/js/masonstrap.js"></script>
    {% block extra_header %}{% endblock extra_header %}
</head>

<body>
    {% block content %}{% endblock content %} {% block footer %}
    <footer class="footer">
        <div class="container">
            <p class="text-muted text-center">A service of <a href="http://srct.gmu.edu">Mason SRCT</a>. Licensed under the <a href="http://opensource.org/licenses/Apache-2.0">Apache License, Version 2.0</a>.</p>
        </div>
    </footer>
    {% endblock footer %}
</body>

</html>
